html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  color: #00629e;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.color-e87717 {
  color: #e87717;
}

.bg-4fd3c5 {
  background: #4fd3c5 url(../images/icon-fast1.png) no-repeat center 24px;
}

.bg-28bee9 {
  background: #28bee9 url(../images/icon-fast2.png) no-repeat center 24px;
}

.bg-8dc780 {
  background: #8dc780 url(../images/icon-fast3.png) no-repeat center 24px;
}

.autoimg {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
/*遮罩层*/
.blackbg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9) !important;
  filter: alpha(opacity=90) !important;
  position: fixed !important;
  top: 0;
  z-index: -10;
  opacity: 0;
}
/*video box*/
.showVideo{
  width: 800px;
  height: 600px;
  position: fixed !important;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -400px;
  -webkit-box-shadow: 0 0 20px #666;
          box-shadow: 0 0 20px #666;
  border-radius: 8px;
  z-index: 999999;
}
/*分页*/
.page{text-align:center; padding:10px 0; margin:30px auto; clear:both;}
.page a{display:inline-block; height:28px; line-height:28px; padding:0 12px; margin:0 3px; border:1px solid #ccc;margin-right:5px;}
.page a:hover{border:1px solid #00629e; background-color:#00629e; color:#fff;}
.page-on{border:1px solid #00629e !important; background-color:#00629e; color:#fff;}

/*biaoge*/
.bg--gray {
  background-color: #F5F5F5;
}



/*index-top*/
.header {
  width: 100%;
}

.header .hd-top {
  width: 100%;
  height: 30px;
  background: #e5e5e5;
}

.header .hd-top p {
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
  color: #333;
  font-size: 12px;
}

.header .hd-top p i {
  font-style: normal;
  cursor: pointer;
}

.header .hd-top p .hd-top-sc {
  float: right;
}

.header .hd-top p .hd-top-sc i:hover {
  color: #e87717 !important;
}

.header .hd-mid {
  width: 1200px;
  margin: 0 auto;
}

.header .hd-mid .hd-mid-l {
  width: 241px;
  height: 120px;
  overflow: hidden;
}

.header .hd-mid .hd-mid-l img {
  width: 100%;
  height: 100%;
}

.header .hd-mid .hd-mid-r {
  height: 120px;
  padding-left: 70px;
  padding-top: 30px;
  background: url(../images/icon-phone.png) no-repeat left center;
}

.header .hd-mid .hd-mid-r p {
  font-size: 26px;
  color: #e87717;
  line-height: 30px;
}

.header .hd-mid .hd-mid-r p:first-child {
  font-size: 20px;
}

.header .hd-nav {
  width: 100%;
  height: 42px;
  border-bottom: 2px solid #00629e;
  position: relative;
  z-index: 999;
}

.header .hd-nav .w1200 {
  height: 40px;
}

.header .hd-nav .nav-l {
  width: 240px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  background: #00629e;
}
.header .hd-nav .nav-l a,
.header .hd-nav .nav-l a:hover{
  color: #fff;
}

.header .hd-nav nav {
  width: 960px;
}

.header .hd-nav nav>ul>li {
  width: 11.11111%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 16px;
  float: left;
}

.header .hd-nav nav>ul>li>ul {
  height: 0;
  overflow: hidden;
  /*transition: 0.8s ease all;*/
  background: #00629e;
}

.header .hd-nav nav>ul>li>ul>li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .hd-nav nav>ul>li>ul>li>a {
  color: #fff;
  font-size: 14px;
}

.header .hd-nav nav>ul>li:hover {
  background: #e87717;
}
.header .hd-nav nav>ul>li.active {
  background: #e87717;
}
.header .hd-nav nav>ul>li.active a{
  color: #fff;
}
.header .hd-nav nav>ul>li li:hover {
  background: #f08f3c;
}

.header .hd-nav nav>ul>li:hover ul {
  height: auto;
}

.header .hd-nav nav>ul>li>a:hover {
  color: #fff;
}

.header .hd-nav nav>ul>li:hover a {
  color: #fff;
}

/*index-top end*/

/*continer*/

/*f1 banner*/

.continer {
  width: 100%
}

.con-f1 {
  width: 1200px;
  height: 460px;
  margin: 0 auto 40px;
}

.con-f1 .f1-l {
  width: 240px;
  height: 460px;
  border: 1px solid #ccc;
  /*border-top: none;*/
  padding: 9px;
}

.con-f1 .f1-l>ul>li {
  width: 100%;
  height: 20%;
}

.con-f1 .f1-l>ul>li .f1-l-tit {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: url(../images/line.png) no-repeat center center;
  font-size: 14px;
  text-align: center;
}

.con-f1 .f1-l>ul>li li {
  width: 33.33%;
  height: 24px;
  font-size: 12px;
  text-align: center;
  float: left;
}

.con-f1 .f1-l>ul>li .f1-l-tit a {
  color: #e87717;
}

.con-f1 .f1-m {
  width: 700px;
  height: 460px;
  margin: 0 10px;
}

.con-f1 .f1-m .banner {
  width: 100%;
  height: 300px;
  margin: 10px 0;
}

/*slide*/

.slideBox {
  position: relative;
  overflow: hidden;
  max-width: 700px;
  height: 100%;
  /* 设置焦点图最大宽度 */
}

.slideBox .hd {
  position: absolute;
  height: 28px;
  line-height: 28px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.slideBox .hd li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 6px;
}

.slideBox .hd li.on {
  background: #fff;
}

.slideBox .bd {
  position: relative;
  z-index: 0;
}

.slideBox .bd li {
  position: relative;
  text-align: center;
}

.slideBox .bd li img {
  vertical-align: top;
  width: 100%;
  /* 图片宽度100%，达到自适应效果 */
}

.slideBox .bd li a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 去掉链接触摸高亮 */

.slideBox .bd li .tit {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-indent: 10px;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

/*轮播end*/

.con-f1 .f1-m .f1-fastin li {
  width: 226px;
  height: 140px;
  float: left;
  margin-right: 11px;
}

.con-f1 .f1-m .f1-fastin li a {
  display: block;
  width: 226px;
  height: 140px;
  line-height: 220px;
  font-size: 20px;
  color: #fff;
  /*padding-top: 100px;*/
  text-align: center;
}

.con-f1 .f1-m .f1-fastin li:last-child {
  margin-right: 0;
}

.con-f1 .f1-r {
  width: 240px;
  height: 460px;
}

.con-f1 .f1-r .f1-r-top {
  width: 240px;
  height: 230px;
  background: #eee;
  padding-top: 20px;
}

.con-f1 .f1-r .f1-r-top .headpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 66px;
}

.f1-logbtn, .f1-regbtn {
  width: 120px;
  height: 30px;
  color: #fff;
  background: #e87717;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 15px auto 0;
  cursor: pointer;
}

.f1-logbtn a, .f1-regbtn a{
  color: #fff;
}

.con-f1 .f1-r .f1-r-bot {
  width: 100%;
  height: 230px;
  border: 1px solid #ccc;
  border-top: 0;
}

/*tab*/

.tab-hd {
  background: #ccc;
  overflow: hidden;
  zoom: 1;
}

.tab-hd li {
  float: left;
  width: 33.3333333%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  text-align: center;
  cursor: pointer;
}

.tab-hd li.active {
  background: #fff;
  color: #00629e;
}

.tab-bd li {
  display: none;
  padding: 10px;
  font-size: 14px;
}

.tab-bd li p {
  width: 100%;
  height: 26px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-bd li p:hover a {
  color: #00629e;
}

.tab-bd li p a {
  font-size: 12px;
  color: #666;
}

.tab-bd li.thisclass {
  display: list-item;
}

/*tab end*/

.f-tit {
  width: 100%;
  height: 24px;
  line-height: 24px;
  border-left: 4px solid #00629e;
  padding-left: 10px;
  font-size: 24px;
}

.f-tit span {
  font-size: 14px;
}

/*f2*/

.con-f2 {
  width: 100%;
  background: #eee;
  padding: 20px 0;
}

.con-f2 ul {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.con-f2 ul li {
  width: 380px;
  height: auto;
  float: left;
  margin-right: 30px;
}

.con-f2 ul li:last-child {
  margin-right: 0;
}

.con-f2 ul li .f2-imgbox {
  width: 380px;
  height: 240px;
  position: relative;
}

.con-f2 ul li .f2-imgbox .f2-sign {
  width: 84px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background: #ffa800;
  color: #fff;
  position: absolute;
  left: 24px;
  top: 24px;
}

.con-f2 ul li .f2-list {
  width: 100%;
  margin-top: 20px;
}

.con-f2 ul li .f2-list p {
  width: 100%;
  height: 26px;
  line-height: 26px;
}

.con-f2 ul li .f2-list p a {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #666;
}

.con-f2 ul li .f2-list p a span {
  display: inline-block;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.con-f2 ul li .f2-list p a i {
  font-style: normal;
  float: right;
  font-size: 12px;
  color: #999;
}

.con-f2 ul li .f2-list p a:hover {
  color: #00629e;
}

/*f2 end*/

/*f3*/

.con-f3 {
  width: 100%;
  padding: 20px 0;
}

.con-f3 .f3-list {
  width: 100%;
  margin-top: 30px;
}

.con-f3 .f3-list ul li {
  width: 580px;
  height: 150px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}

.con-f3 .f3-list ul li:nth-child(even) {
  margin-right: 0;
}

.con-f3 .f3-list ul li .f3-imgbox {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #ffa800;
}

.con-f3 .f3-list ul li .f3-txtbox {
  width: 430px;
  height: 150px;
  padding: 10px;
  background: #eee;
}

.con-f3 .f3-list ul li .f3-txtbox h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.con-f3 .f3-list ul li .f3-txtbox p {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
}

.con-f3 .f3-list ul li:hover .f3-txtbox,
.con-f3 .f3-list ul li:hover .f3-txtbox h3{
  background: #2899DF;
  color: #fff !important;
}

/*f3 end*/

/*f4*/

.con-f4 {
  width: 100%;
  padding: 20px 0;
}

.con-f4 .f4-left {
  width: 500px;
}

.con-f4 .f4-left .f4l-box {
  width: 100%;
  margin-top: 20px;
  height: 380px;
  border: 1px solid #ccc;
  border-bottom: 0;
}

.f4lb-left {
  width: 60%;
  height: 100%;
}

.f4lb-left ul {
  width: 100%;
  height: 100%;
}

.f4lb-left ul li {
  width: 50%;
  height: 50%;
  float: left;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.f4lb-left ul li .f4-iconbox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 35px 35px 25px 35px;
}

.f4lb-left ul li p {
  font-size: 16px;
  color: #333;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f4lb-right {
  width: 40%;
  height: 100%;
}

.f4lb-right ul {
  width: 100%;
  height: 100%;
}

.f4lb-right ul li {
  width: 100%;
  height: 33.3333333%;
  border-bottom: 1px solid #ccc;
}

.f4lb-right ul li .f4-iconbox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 60px;
}

.f4lb-right ul li p {
  width: 100%;
  text-align: center;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.con-f4 .f4-right {
  width: 670px;
}

.con-f4 .f4-right .f4r-box {
  width: 100%;
  height: 380px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

/*f4 slide*/

.f4r-box {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.f4r-box ul {
  overflow: hidden;
  zoom: 1;
  width: 668px;
  height: 378px;
  float: left;
  _display: inline;
  padding: 24px;
}

.f4r-box ul li {
  width: 300px;
  height: 150px;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
  overflow: hidden;
}

.f4r-box ul li:nth-child(1) {
  margin-bottom: 30px;
}

.f4r-box ul li:nth-child(2) {
  margin-bottom: 30px;
}

.f4r-box ul li:nth-child(odd) {
  margin-right: 20px;
}

.f4r-box ul li .photobox {
  width: 110px;
  height: 150px;
}

.f4r-box ul li .txtbox {
  width: 190px;
  height: 150px;
  padding-left: 10px;
}

.f4r-box ul li .txtbox h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #f9980d;
  text-align: left;
}

.f4r-box ul li .txtbox p {
  font-size: 14px;
  color: #528afa;
  text-align: left;
  line-height: 26px;
}

/*f4 end*/

/*f5 视频讲堂*/

.con-f5 {
  width:100%;
}

.con-f5 ul {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.con-f5 ul li {
  width: 280px;
  height: 260px;
  float: left;
  cursor: pointer;
  margin-right: 25px;
}

.con-f5 ul li:last-child {
  margin-right: 0;
}

.con-f5 ul li .f5-picbox {
  width: 100%;
  height: 220px;
}

.con-f5 ul li .f5-picbox img {
  width: 84px;
  margin: auto;
  padding-top: 68px;
  display: block;
}

.con-f5 ul li p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #666;
  font-size: 16px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*f5 视频讲堂 end*/
/*f6 友情链接 */
.con-f6{
  width: 100%;
}
.con-f6 p{
  width: 100%;
  height: auto;
  margin:20px 0;
}
.con-f6 p a{
  display: inline-block;
  margin-right: 20px;
  color: #00629e;
  font-size: 14px;
}
/*f6 友情链接 end*/

/*continer end*/
/*footer*/
.footer{
  width: 100%;
  height: 130px;
  padding: 20px 0;
  background: #333;
}
.footer p{
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.footer p a{
  color: #fff;
}
/*footer end*/

/*登录注册*/
.loginbox , .regbox , .forgetbox{
  position:fixed;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px #666;
          box-shadow: 0 0 20px #666;
  z-index: 9999989;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.form-hd{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #00629e;
  position: relative;
}
.form-hd .log-logo{
  width: 100%;
  height: 100%;
}
.form-hd .log-logo img{
  height:100%;
  display:inline-block;
}
.form-hd .log-logo span{
  display: inline-block;
  height: 60px;
  line-height:60px;
  margin-left:40px;
  color:#00629e;
  font-size:18px;
  font-weight: 600;
}
.form-hd .close-btn{
  position:absolute;
  right: 0;
  top: 5px;
  font-size: 30px;
  color: #999;
  cursor: pointer;
}
.form-bd {
  width: 100%;
  padding: 0 10px;
}
.form-bd .inputbox{
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.form-bd .inputbox input{
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-bd .form-btn{
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #00629e;
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
}
.form-bd p{
  margin-top: 15px;
}
.form-bd p span{
  color: #1785f7;
  font-size: 14px;
  cursor: pointer;
}
.form-bd .selectbox{
  width: 100%;
  margin-top: 10px;
}
.form-bd .selectbox select,.form-bd .selectbox input{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
}
.regbox{
  height: 600px;
  margin-top: -300px;
}
.regbox .form-bd .inputbox {
  margin-top: 10px;
}
.forgetbox{
  height: 460px;
  margin-top: -230px;
}
/*登录注册 end*/

/*sub index 设备共享*/
/*sub-nav*/
.sub-nav{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #00629e;
}
.sub-nav ul{
  width: 100%;
}
.sub-nav ul>li {
  padding: 0 30px;
  height: 100%;
  float: left;
}
.sub-nav ul>li:hover {
  background: #e87717;
}
.sub-nav ul>li.active {
  background: #e87717;
}

.sub-nav ul>li a{
  font-size: 16px;
  color: #fff;
}
/*
左侧
 */
.aside-l{
  width: 860px;
  height: auto;
  margin-bottom: 30px;
}
.aside-l .filtrate{
  width: 100%;
  border: 1px dashed #ccc;
  padding: 10px;
}
.aside-l .filtrate ul{
  width: 100%;
  height: auto;
}
.aside-l .filtrate ul li{
  padding: 10px 0;
  border-bottom:  1px dashed #ccc;
}
.aside-l .filtrate ul li:last-child{
  border-bottom: 0;
}
.aside-l .filtrate ul li .filt-key{
  width:100px;
  height: auto;
  padding: 10px 0;
  text-align: right;
  color: #333;
}
.aside-l .filtrate ul li .filt-code{
  width:736px;
  height: auto;
}
.aside-l .filtrate ul li .filt-code span{
  padding: 8px 15px;
  margin: 2px 10px;
  display: inline-block;
}
.aside-l .filtrate ul li .filt-code span.active,
.aside-l .filtrate ul li .filt-code span:hover,
.aside-l .filtrate ul li .filt-code span:hover a{
  background: #e87717;
  color: #fff;
}
.aside-l .filtrate ul li .filt-code span a{
  font-size: 14px;
}
.aside-l .filtrate ul li .filt-code span.active a{
  color: #fff;
}
.aside-l .aside-l-list{
  width: 100%;
  margin-top: 20px;
}
.aside-l .aside-l-list .list-tit{
  width: 100%;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background: #00629e;
}
.aside-l .aside-l-list ul{
  width: 100%;
  height: auto;
}
.aside-l .aside-l-list ul li{
  width: 100%;
  height: auto;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}
.aside-l .aside-l-list ul li:hover{
  background: #eee;
}
.aside-l .aside-l-list ul li h3{
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #00629e;
}
.aside-l .aside-l-list ul li p{
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.aside-l .aside-l-list ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
.aside-l .aside-l-list ul li p span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aside-l .aside-l-list ul li p span:nth-child(1){
  width: 40%;
  display: inline-block;
}
.aside-l .aside-l-list ul li p span:nth-child(2){
  width: 29%;
  text-align: right;
  display: inline-block;
}
.aside-l .aside-l-list ul li p span:nth-child(3){
  width: 30%;
  display: inline-block;
  text-align: right;
}
/*
右侧
 */
.aside-r{
  width: 320px;
  margin-bottom: 30px;
  height: auto;
}
.aside-r .fastin{
  width: 100%;
}
.aside-r .fastin li {
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
  background-position: center 15px;
}
.aside-r .fastin li a {
  display: block;
  width: 100%;
  height: 120px;
  line-height: 200px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.aside-r .suggest{
  width: 100%;
  height: auto;
  margin-top:20px;
  border: 1px solid #ccc;
  border-top: 1px solid #00629e;
  padding: 0 10px;
}
.aside-r .suggest .sug-tit{
  width: 100%;
  height:40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  color: #333;
}
.aside-r .suggest li{
  width: 100%;
  height:30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aside-r .suggest li span{
  width: 3px;
  height: 3px;
  background: #666;
  display: inline-block;
  margin: 0 10px;
  /*margin-top: -5px;*/
}
.aside-r .suggest li a{
  font-size: 14px;
  color: #666;
}
.aside-r .suggest li a:hover{
  color: #00629e;
}

/*面包屑导航*/

.bre-nav{
  height: 40px;
  line-height: 40px;
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
}
/*左侧导航*/
.aside-nav{
  width: 100%;
}
.aside-nav h3{
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #3b83bd;
  color: #fff;
  font-size: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.aside-nav .aside-contact{
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-top: 0;
  margin-bottom: 20px;
  padding: 10px;
}
.aside-nav .aside-contact p{
  line-height: 24px;
  font-size: 14px;
}
.aside-map{
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
}
#allmap{
  width: 100%;
  height: 220px;
}
.aside-nav ul{
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-top: 0;
  margin-bottom: 20px;
  padding: 10px;
}
.aside-nav ul li{
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
}
.aside-nav ul li:hover,
.aside-nav ul li.active{
  background: #e87717;
}
.aside-nav ul li.active a,
.aside-nav ul li:hover a{
  color: #fff !important;
}
/*视频列表页*/
.aside-l-videobox{
  width: 100%;
  height: auto;
}
.aside-l-videobox ul {
  width: 100%;
  margin-bottom: 40px;
}

.aside-l-videobox ul li {
  width: 200px;
  height: 190px;
  float: left;
  cursor: pointer;
  margin-right: 20px;
}

.aside-l-videobox ul li:nth-child(4n) {
  margin-right: 0;
}

.aside-l-videobox ul li .f5-picbox {
  width: 100%;
  height: 150px;
}

.aside-l-videobox ul li .f5-picbox img {
  width: 64px;
  margin: auto;
  padding-top: 40px;
  display: block;
}

.aside-l-videobox ul li p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #666;
  font-size: 16px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*图文新闻列表*/
.aside-l-newslist{
  width: 100%;
}
.aside-l-newslist ul {
  width: 100%;
  height: auto;
}
.aside-l-newslist ul li{
  width: 100%;
  height: 160px;
  overflow: hidden;
  margin-bottom: 15px;
}
.aside-l-newslist ul li a{
  display: block;
  width: 100%;
  height: 100%;
}
.aside-l-newslist ul li .newslist-picbox{
  width: 160px;
  height: 160px;
}
.aside-l-newslist ul li .newslist-txt{
  width: 700px;
  height: 100%;
  padding: 10px;
  background: #f3f3f3;
}
.aside-l-newslist ul li:hover .newslist-txt{
  background: #3b83bd;
}
.aside-l-newslist ul li:hover a .newslist-txt h3,
.aside-l-newslist ul li:hover a .newslist-txt span,
.aside-l-newslist ul li:hover a .newslist-txt p{
  color: #fff !important;
}

.aside-l-newslist ul li .newslist-txt h3{
  font-size: 20px;
  color: #00629e;
  width: 100%;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aside-l-newslist ul li .newslist-txt p{
  height: 72px;
  line-height: 24px;
  overflow: hidden;
  text-indent: 2em;
  font-size: 14px;
}
.aside-l-newslist ul li .newslist-txt span{
  display: block;
  line-height: 30px;
  font-size: 12px;
  color: #999;
}
/*新闻详情页*/
.aside-l-newsinfo{
  width: 100%;
  height: auto;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 20px;
}
.aside-l-newsinfo .newsinfo-tit{
  width: 100%;
  height: auto;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.aside-l-newsinfo .newsinfo-tit h3{
  width: 100%;
  height: auto;
  line-height: 36px;
  font-size: 24px;
  text-align: center;
  color: #333;
  padding: 0 20px;
}
.aside-l-newsinfo .newsinfo-tit p{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #999;
  text-align: center;
}
.aside-l-newsinfo .newsinfo-tit p span{
  margin-right: 40px;
}
.aside-l-newsinfo .newsinfo-con img{
  max-width: 100%;
}

/*人才列表*/
.people-list {
  width: 100%;
}

.people-list ul {
  width: 100%;
  height: auto;
}

.people-list ul li {
  width: 360px;
  height: 150px;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.people-list ul li:nth-child(2n) {
  margin-right: 0;
}


.people-list ul li .photobox {
  width: 110px;
  height: 150px;
}

.people-list ul li .txtbox {
  width: 250px;
  height: 150px;
  padding: 0 10px;
  background: #eee;
}

.people-list ul li .txtbox h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #f9980d;
  text-align: left;
}

.people-list ul li .txtbox p {
  font-size: 14px;
  color: #666;
  text-align: left;
  line-height: 26px;
}
/*人才详情*/
.peopleinfo{
  width: 100%;
  padding: 20px 0;
  padding-left: 20px;
  background: #eee;
}
.peopleinfo .people-hd{
  width: 100%;
  height: 150px;
}
.peopleinfo .people-hd .people-hdl{
  width: 110px;
  height: 150px;
  overflow: hidden;
}
.peopleinfo .people-hd .people-hdr{
  width: 730px;
  height: auto;
  padding:0 15px ;
}
.peopleinfo .people-hd .people-hdr ul{
  width: 100%;
  height: 100%;
}
.peopleinfo .people-hd .people-hdr ul li{
  width: 50%;
  height: 40px;
  line-height: 40px;
  float: left;
  overflow: hidden;
}
.peopleinfo .people-hd .people-hdr ul li:last-child{
  width: 100%;
}
.peopleinfo .people-hd .people-hdr ul li span{
  margin-left: 10px;
}
.peopleinfo .people-bd{
  width: 100%;
}

.peopleinfo .people-bd p{
  line-height: 32px;
}
.peopleinfo .people-bd h3{
  width: 100%;
  font-size: 20px;
  color: #00629e;
  line-height: 40px;
}

/*仪器设备表格*/
.tablebox{
  width: 100%;
}
.tablebox .table {
  width: 100%;
  margin-bottom: 5px;
  border-collapse: collapse;
  border: none;
}
.tablebox .table .table-header {
  font-size: 16px;
  height: 50px;
  color: #005bac;
}
.tablebox .table .mach-img {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.tablebox .table tr td {
  border: solid #ddd 1px;
  height: 40px;
  padding: 5px 10px;
}
.tablebox textarea{
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  min-height: 200px;
  height: auto;
}
.yuyue-btn{
  width: 150px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #e87717;
  color: #fff;
  text-align: center;
  margin: 20px auto;
}
.yuyue-btn a{
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.submit-yuyue{
  width: 150px;
  height: 36px;
  display: block;
  margin: 20px auto;
  line-height: 36px;
  background: #e87717;
  color: #fff;
}

.bgblue{
  background: #3782c7;
  color: #fff !important;
}
.bgdanblue{
  background: #83accd;
  color: #fff;
}

/*个人中心修改密码*/
.changepwd{
  width: 400px;
  margin: 0 auto;
}
.changepwd .inputbox{
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.changepwd .inputbox input{
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.changepwd .form-btn{
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #00629e;
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
}
.changepwd .selectbox{
  width: 100%;
  margin-top: 10px;
}
.changepwd .selectbox select,.changepwd .selectbox input{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
}



























































/*all end*/
