html,body{
  box-sizing: border-box;
}
a:hover{
  color: #00629e;
}
.w1200{
  width:1200px;
  margin:0 auto;
}
.color-e87717{
  color: #e87717;
}
/*index-top*/
.header{
  width: 100%;
}
.header .hd-top{
  width: 100%;
  height: 30px;
  background: #eeeeee;
}
.header .hd-top p{
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
  color: #333;
  font-size: 12px;
}
.header .hd-top p i{
  font-style: normal;
  cursor: pointer;
}
.header .hd-top p .hd-top-sc{
  float: right;
}
.header .hd-top p .hd-top-sc i:hover{
  color: #e87717 !important;
}
.header .hd-mid{
  width: 1200px;
  margin: 0 auto;
}
.header .hd-mid .hd-mid-l{
  width: 241px;
  height: 120px;
  overflow: hidden;
}
.header .hd-mid .hd-mid-l img{
  width: 100%;
  height: 100%;
}
.header .hd-mid .hd-mid-r{
  height: 120px;
  padding-left: 70px;
  padding-top: 30px;
  background: url(../images/icon-phone.png) no-repeat left center;
}
.header .hd-mid .hd-mid-r p{
  font-size: 26px;
  color: #e87717;
  line-height: 30px;
}
.header .hd-mid .hd-mid-r p:first-child{
  font-size: 20px;
}
.header .hd-nav{
  width: 100%;
  height: 42px;
  border-bottom: 2px solid #00629e;
  position: relative;
  z-index: 999;
}
.header .hd-nav .w1200{
  height: 40px;
}
.header .hd-nav .nav-l{
  width: 240px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #00629e;
}
.header .hd-nav nav{
  width: 960px;
}
.header .hd-nav nav>ul>li{
  width: 11.11111%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 16px;
  float: left;
}
.header .hd-nav nav>ul>li>ul{
  height: 0;
  overflow: hidden;
  /*transition: 0.8s ease all;*/
  background: #00629e;
}
.header .hd-nav nav>ul>li>ul>li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .hd-nav nav>ul>li>ul>li>a{
  color: #fff;
  font-size: 14px;
}
.header .hd-nav nav>ul>li:hover{
  background: #e87717;
}
.header .hd-nav nav>ul>li li:hover{
  background: #f08f3c;
}
.header .hd-nav nav>ul>li:hover ul{
  height: auto;
}
.header .hd-nav nav>ul>li>a:hover{
  color: #fff;
}
.header .hd-nav nav>ul>li:hover a{
  color: #fff;
}
/*index-top end*/

/*continer*/

/*f1 banner*/
.continer{
  width: 100%
}
.con-f1{
  width: 1200px;
  height: 460px;
  margin: 0 auto 40px;
}
.con-f1 .f1-l{
  width: 240px;
  height: 460px;
  border: 1px solid #ccc;
  /*border-top: none;*/
  padding: 9px;
}
.con-f1 .f1-l>ul>li{
  width: 100%;
  height: 20%;
}
.con-f1 .f1-l>ul>li .f1-l-tit{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: url(../images/line.png) no-repeat center center;
  font-size: 14px;
  text-align: center;
}
.con-f1 .f1-l>ul>li li{
  width: 33.33%;
  height: 24px;
  font-size: 12px;
  text-align: center;
  float: left;
}
.con-f1 .f1-l>ul>li .f1-l-tit a{
  color: #e87717;
}
.con-f1 .f1-m{
  width: 700px;
  height: 460px;
  margin: 0 10px;
}
.con-f1 .f1-m .banner{
  width：100%;
  height: 300px;
}
.con-f1 .f1-r{
  width: 240px;
  height: 460px;
  background: #ccc;
}

/*continer end*/







































































/*all end*/
